.vscode
Library
Logs
ProjectSettings
Temp
UserSettings
Assets/_Recovery
Assets/BodyEditor/Tests
Diagnostics
/Assets/Plugins/RootMotion/
/Assets/Plugins/RootMotion.meta
/Assets/Plugins.meta
/RootMotion*.csproj
